@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(0, 179, 143);
    --color-text: rgb(8, 50, 59);
    --color-text-light: rgb(99, 110, 111);
    --color-light-grey: rgb(190, 199, 199);
    --color-card-header: rgb(48, 66, 68);
    --color-bg: rgb(248, 235, 226);
    --color-bg-card: rgb(255, 252, 250);
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    color: var(--color-text);
    background-color: var(--color-bg);
}

/* ----- Header ----- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-primary);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 0 30px;
}

header a,
h1 {
    color: var(--color-bg);
}

/* ----- Hero banner ----- */

#hero-video {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.hero-banner {
    position: relative;
}

.hero-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #25252591, #00000000);
}

/* ----- Link cards ----- */

.link-card {
    background-color: var(--color-bg-card);
    border-radius: 10px;
    min-width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.link-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 30px;
}

/* ----- Recipe listing ----- */

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recipe {
    border-radius: 10px;
    height: 500px;
    background-color: var(--color-bg-card);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
}

.recipe-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 30px;
}

.recipe img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.recipe h2 {
    color: var(--color-card-header);
}

.recipe p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: var(--color-text-light);
}

.recipe a:link,
.recipe a:hover,
.recipe a:visited,
.recipe a:active {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--color-primary);
}

.recipe a:hover {
    text-decoration: underline;
}

/* ----- Add recipe form ----- */

.add-recipe-form {
    min-width: 300px;
    max-width: 600px;
}

.add-recipe-form label {
    font-size: 0.9rem;
}

.add-recipe-form input,
textarea,
select {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: var(--color-text-light);
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 2px 0 8px 0;
}

textarea {
    resize: none;
}

.add-recipe-form-ingredients {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-ingredient-name,
.form-ingredient-quantity {
    width: 48%;
}

.add-recipe-form button {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-primary);
    color: var(--color-bg-card);
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    width: 120px;
}

.add-recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-recipe-container h2 {
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--color-primary);
}

/* ----- Single recipe view ----- */

.recipe-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: var(--color-bg-card);
    color: var(--color-text-light);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
}

.recipe-container img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.recipe-container p {
    line-height: 1.5;
    margin-top: 30px;
}

.recipe-container h2 {
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--color-primary);
}

.recipe-container h3 {
    margin-top: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--color-primary);
}

.recipe-info {
    padding: 20px;
}

.recipe-right {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed var(--color-light-grey);
    padding-bottom: 3px;
    margin-top: 15px;
}

@media (min-width: 1000px) {
    .recipe-container {
        flex-direction: row;
        width: 1000px;
    }

    .recipe-container img {
        border-radius: 10px 0 0 0;
    }
}
